/* Estilo del contenedor del formulario */
.divForm {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo de los campos de entrada de texto */
  .registerInput {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo del botón de registro */
  .registerButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .registerButton:hover {
    background-color: #0056b3;
  }
  
  /* Estilo de los mensajes de error */
  .errorMessage {
    color: #ff0000;
  }
  
  /* Estilo del enlace para iniciar sesión */
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-link a {
    text-decoration: none;
    color: #007bff;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  