.divCard{
    display: flex;
    flex-direction: column;
    background-color: #bcbd8b;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    width: 160px;
    border: 3px solid #1c0b19;
    transition: transform 0.2s;
}

.divCard:hover {
    transform: scale(1.05);
  }

.divButtons{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 10px;
}

.divButFav{
    margin-right: 50px;
    text-align: center;
}
.divButDel{
    margin-left: 50px;
    padding-top: 5px;
}

.divButFav button{
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.divButDel button{
    border: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color:crimson;
    color: white;
    cursor: pointer;
}


.name{
    text-align: center; 
  }
.type{
    text-align: center;
}