.navDiv{
    background-color: #bcbd8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #e5e5e5;
    width: 100%;
}

.navDiv button{
    background: none;
    border: none;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
}

.navDiv button:hover{
    text-decoration: underline;
}

.divBut{
    display: flex;
    align-items: center;
}
.divBut button{
    color: black;
    margin-left: 50px;
}